* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    background-color: #ECCC5F;
    color: white;
}

#container {
    position: fixed;
    width: 320px;
    height: 320px;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    border: 7px solid #8C7B74;
}

#container > div {
    width: 100%;
    height: 25%;
    font-size: 0;
}

.cell {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: initial;
    position: relative;
    border: 7px solid #8C7B74;
}

.cell::after {
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.cell[value="0"]::after {
    content: "" !important;
}

.cell[value="0"] {
    background-color: #BFAFA0;
}

.cell[value="2"] {
    font-size: 50px;
    background: #EEE4DA;
    color: #7C6D66;
}

.cell[value="4"] {
    font-size: 50px;
    background: #ECE0CA;
    color: #7C6F66;
}

.cell[value="8"] {
    font-size: 50px;
    background: #F2B179;
}

.cell[value="16"] {
    font-size: 50px;
    background: #F5965F;
}

.cell[value="32"] {
    font-size: 50px;
    background: #F57C5D;
}

.cell[value="64"] {
    font-size: 50px;
    background: #FF5B45;
}

.cell[value="128"] {
    font-size: 36px;
    background: #F9D275;
}

.cell[value="256"] {
    font-size: 36px;
    background: #FAD064;
}

.cell[value="512"] {
    font-size: 36px;
    background: #F7CB56;
}

.cell[value="1024"] {
    font-size: 27px;
    background: #F6C22C;
}

.cell[value="2048"] {
    font-size: 27px;
    background: #F6C82C;
}