.navigation-bar {
  &__element {
    list-style-type: none;
    width: 100%;
    padding-left: 0;

    li {
      height: 40px;
      display: flex;
      align-items: center;

      a {
        padding: 9px 10px;
        width: 100%;
        text-decoration: none;
        color: #484848;
        display: block;
        font-size: 1em;
        font-weight: 400;
        transition: all .3s ease;
        &:hover {
          background: #F2F2F2;
          padding-left: 20px;
        }
      }
    }
  }

  &__header {
    margin: 20px 0;
  }
}
